In [58]:
import tensorflow as tf

tf.__version__

'2.19.0'

In [59]:
import pandas as pd

url = "https://storage.googleapis.com/download.tensorflow.org/data/abalone_train.csv"

abalone_train = pd.read_csv(url, names=["Length", "Diameter", "Height", "Whole weight", "Shucked weight",
           "Viscera weight", "Shell weight", "Age"])

abalone_train.head()

,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Age
0,0.435,0.335,0.110,0.334,0.1355,0.0775,0.0965,7
1,0.585,0.450,0.125,0.874,0.3545,0.2075,0.2250,6
2,0.655,0.510,0.160,1.092,0.3960,0.2825,0.3700,14
3,0.545,0.425,0.125,0.768,0.2940,0.1495,0.2600,16
4,0.545,0.420,0.130,0.879,0.3740,0.1695,0.2300,13

In [60]:
len(abalone_train)

3320

In [61]:
abalone_features = abalone_train.copy()
abalone_label = abalone_features.pop("Age")

In [62]:
abalone_label

0        7
1        6
2       14
3       16
4       13
        ..
3315    15
3316    10
3317    11
3318    16
3319    19
Name: Age, Length: 3320, dtype: int64

In [63]:
import numpy as np

abalone_features =  np.array(abalone_features)

In [64]:
abalone_features.dtype

dtype('float64')

In [65]:
abalone_model = tf.keras.Sequential([
    tf.keras.layers.Dense(64, activation="relu"),
    tf.keras.layers.Dense(1)
    
])

In [66]:
abalone_model.compile(loss=tf.keras.losses.MeanAbsoluteError(), optimizer=tf.keras.optimizers.Adam())

In [67]:
abalone_model.fit(abalone_features, abalone_label, epochs=10 )

Epoch 1/10
104/104 ━━━━━━━━━━━━━━━━━━━━ 0s 405us/step - loss: 9.2072
Epoch 2/10
104/104 ━━━━━━━━━━━━━━━━━━━━ 0s 356us/step - loss: 4.8281
Epoch 3/10
104/104 ━━━━━━━━━━━━━━━━━━━━ 0s 830us/step - loss: 2.1634
Epoch 4/10
104/104 ━━━━━━━━━━━━━━━━━━━━ 0s 377us/step - loss: 2.0148
Epoch 5/10
104/104 ━━━━━━━━━━━━━━━━━━━━ 0s 361us/step - loss: 1.9602
Epoch 6/10
104/104 ━━━━━━━━━━━━━━━━━━━━ 0s 405us/step - loss: 1.8411
Epoch 7/10
104/104 ━━━━━━━━━━━━━━━━━━━━ 0s 356us/step - loss: 1.7402
Epoch 8/10
104/104 ━━━━━━━━━━━━━━━━━━━━ 0s 357us/step - loss: 1.7045
Epoch 9/10
104/104 ━━━━━━━━━━━━━━━━━━━━ 0s 352us/step - loss: 1.7052
Epoch 10/10
104/104 ━━━━━━━━━━━━━━━━━━━━ 0s 364us/step - loss: 1.7008

In [68]:
normalize = tf.keras.layers.Normalization()

normalize.adapt(abalone_features)

In [69]:
norm_abalone_model = tf.keras.Sequential([
    normalize,
    tf.keras.layers.Dense(64, activation="relu"),
    tf.keras.layers.Dense(1)
])

In [70]:
norm_abalone_model.compile(loss=tf.keras.losses.MeanAbsoluteError(),  optimizer=tf.keras.optimizers.Adam())
norm_abalone_model.fit(abalone_features, abalone_label,  epochs=10)

Epoch 1/10
104/104 ━━━━━━━━━━━━━━━━━━━━ 0s 381us/step - loss: 9.4480
Epoch 2/10
104/104 ━━━━━━━━━━━━━━━━━━━━ 0s 330us/step - loss: 5.6559
Epoch 3/10
104/104 ━━━━━━━━━━━━━━━━━━━━ 0s 335us/step - loss: 4.4339
Epoch 4/10
104/104 ━━━━━━━━━━━━━━━━━━━━ 0s 332us/step - loss: 3.4390
Epoch 5/10
104/104 ━━━━━━━━━━━━━━━━━━━━ 0s 328us/step - loss: 2.2520
Epoch 6/10
104/104 ━━━━━━━━━━━━━━━━━━━━ 0s 328us/step - loss: 1.9018
Epoch 7/10
104/104 ━━━━━━━━━━━━━━━━━━━━ 0s 326us/step - loss: 1.7642
Epoch 8/10
104/104 ━━━━━━━━━━━━━━━━━━━━ 0s 329us/step - loss: 1.7281
Epoch 9/10
104/104 ━━━━━━━━━━━━━━━━━━━━ 0s 329us/step - loss: 1.6788
Epoch 10/10
104/104 ━━━━━━━━━━━━━━━━━━━━ 0s 328us/step - loss: 1.6281

In [72]:
url = "https://storage.googleapis.com/tf-datasets/titanic/train.csv"

titanic = pd.read_csv(url)

In [73]:
titanic.head()

,survived,sex,age,n_siblings_spouses,parch,fare,class,deck,embark_town,alone
0,0,male,22.0,1,0,7.2500,Third,unknown,Southampton,n
1,1,female,38.0,1,0,71.2833,First,C,Cherbourg,n
2,1,female,26.0,0,0,7.9250,Third,unknown,Southampton,y
3,1,female,35.0,1,0,53.1000,First,C,Southampton,n
4,0,male,28.0,0,0,8.4583,Third,unknown,Queenstown,y

In [74]:
titanic_features = titanic.copy()
titanic_label = titanic_features.pop("survived")

In [80]:
# symbolic tensor
input = tf.keras.Input(shape=(), dtype=tf.float32)

result = 2*input +1

result

In [83]:
calc = tf.keras.Model(inputs=input, outputs=result)

calc

In [95]:
calc(tf.constant([2]))